@media (max-width: 1137px) {
  .btn {
    width: 40% !important;
    margin: 0 !important;
  }
}

.btn {
  position: relative;
  padding: 8px;
  width: 150px;
  /* margin: 10px; */
  border: 1px solid sandybrown;
  background-color: rgba(205, 164, 143, 0.436);
  cursor: pointer;
  border-color: red blue red blue;
  font-family: Lucida Handwriting, cursive;
  border-radius: 30px/50%;
}

.btn:hover {
  background-color: burlywood;
}

.right {
  animation: swipe 3s infinite;
  animation-name: swipe;
  float: right;
}

@keyframes swipe {
  0% {
    left: -20px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: -20px;
  }
}

button:disabled {
  pointer-events: none;
}